body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: #052F5F;
}

h1{
    text-align: center;
}

ul{
    width: fit-content;
    margin: 10px auto;
}

li{
    font-size: 20px;
    margin: 0 auto;
}

a{
    color: white;
}

img{
    height: auto;
    width: 300px;
}

.container{
    width: 45%;
    margin: 50px auto;
}